.parallax {
    /* The image used */
    background-image: url("photo\ 2.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    opacity: 0,7;
  }

/* Базовый стиль для изображения */
.image {
    width: 10%; /* Устанавливаем базовый размер изображения */
    max-width: 100%; /* Предотвращаем выход изображения за пределы контейнера */
    height: auto; /* Сохраняем пропорции изображения */
}

/* Для устройств с шириной экрана до 1200px */
@media screen and (max-width: 1200px) {
    .image {
        width: 10%; /* Увеличиваем изображение на большом экране */
    }
}

/* Для устройств с шириной экрана до 992px (планшеты) */
@media screen and (max-width: 992px) {
    .image {
        width: 20%; /* Делаем изображение больше для планшетов */
    }
}

/* Для устройств с шириной экрана до 768px (портретная ориентация планшетов и смартфонов) */
@media screen and (max-width: 768px) {
    .image {
        width: 30%; /* Увеличиваем изображение для средних устройств */
    }
}

/* Для устройств с шириной экрана до 576px (смартфоны) */
@media screen and (max-width: 576px) {
    .image {
        width: 40%; /* Делаем изображение крупнее на маленьких экранах */
    }
}




a {
    font-size: 1.2rem; /* Увеличиваем размер текста ссылок */
    color: #ff69b4; /* Цвет ссылок */
}

.action_btn {
    background: linear-gradient(90deg, #ff69b4, #ff1493);
    color: #fff;
    border-radius: 25px;
    font-size: 1rem;
}


.education {
    border-radius: 10px;
}

.logo {
    width: 200px; /* Базовый размер */
    height: auto;
}

/* Для экранов до 1024px */
@media (max-width: 1024px) {
    .logo {
        width: 150px;
    }
}

/* Для экранов до 768px */
@media (max-width: 768px) {
    .logo {
        width: 100px;
    }
}

/* Для экранов до 480px */
@media (max-width: 480px) {
    .logo {
        width: 80px;
    }
}




* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}



.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color:
}

.action_btn:active {
    scale: 0.95;
}

.action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



html {
    overflow-x: hidden;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
  background-position: center; /* Выравнивание изображения по центру */
  height: 100vh; /*Высота элемента на 100% высоты видимой области */
  background;
  padding: 0;
    color: #333;
    margin: 0;
  padding: 60px;
  background: rgb(14,16,32);
  background: radial-gradient(circle, rgba(14,16,32,1) 26%, rgba(14,16,32,1) 46%, rgba(3,3,4,1) 75%, rgba(37,37,37,1) 100%);
  padding-left: 4%;
  padding-right: 4%;
  overflow-x: hidden;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    }
    
    .container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    }

    .progress-infra-classroom-2 {
        max-width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
        }
    
    .container .text {
    text-align: justify;
    margin-top: 20px;
    word-wrap: break-word; /* чтобы длинные слова не выходили за пределы */
    }
    
    header h2 {
    text-align: center;
    }
    
    .horizontal-line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
    }
    
    
    /* Медиазапросы только для текста */
@media only screen and (max-width: 1200px) {
    .text, .text1, p {
        font-size: 1em;
        padding: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .text, .text1, p {
        font-size: 0.95em;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .text, .text1, p {
        font-size: 0.9em;
        padding: 10px;
    }

    nav a {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 480px) {
    .text, .text1, p {
        font-size: 0.85em;
        padding: 5px;
    }

    nav a {
        padding: 8px;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 320px) {
    .text, .text1, p {
        font-size: 0.8em;
        padding: 5px;
    }

    nav a {
        padding: 6px;
        font-size: 0.7em;
    }
}


.text, .text1 {
    flex: 1;
    padding: 20px;
    word-wrap: break-word; /* Разбивать длинные слова */
}



/* Общие стили для контейнера и текста */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.text, .text1 {
    border-radius: 15px;
    flex: 1;
    padding: 20px;
}

/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    .container img {
        width: 30%; /* Изображения занимают 48% ширины родительского контейнера */
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container img {
        width: 48%; /* Изображения занимают 48% ширины родительского контейнера */
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 80%; /* Изображения занимают 80% ширины родительского контейнера */
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 90%; /* Изображения занимают 90% ширины родительского контейнера */
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 100%; /* Изображения занимают всю ширину родительского контейнера */
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}




/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}


@media only screen and (min-width: 1200px) {
    #admission .container {
        justify-content: space-between;
    }

    #admission .container img {
        flex: 0 1 30%;
        max-width: 30%;
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #admission .container {
        justify-content: space-between;
    }

    #admission .container img {
        flex: 0 1 30%;
        max-width: 30%;
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 45%;
        max-width: 45%;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 70%;
        max-width: 70%;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 100%;
        max-width: 100%;
    }
}





/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    header {
        padding: 40px;
    }

    header h1 {
        font-size: 2.5em;
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        padding: 30px;
    }

    header h1 {
        font-size: 2.2em;
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        margin-bottom: 20px;
        flex: 0 1 45%;
        max-width: 45%;
    }

    header h1 {
        font-size: 2em;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        margin-bottom: 15px;
        flex: 0 1 75%;
        max-width: 75%;
    }

    header h1 {
        font-size: 1.8em;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    header .logo {
        margin-bottom: 10px;
        flex: 0 1 100%;
        max-width: 100%;
    }

    header h1 {
        font-size: 1.5em;
    }
}



.logo img {
    width: 100px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически подстраиваем высоту */
    margin-right: 400px; /* Добавляем отступ между логотипом и названием */
}



.container {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    
}


.container .text {
    margin-left: 20px;
}


.text {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    margin-left: 20px; /* Отступ слева для размещения текста рядом с изображением */
    margin-right: 20px; /* Отступ слева для размещения текста рядом с изображением */
    max-width: 90%;
    color: #ccc;
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    word-spacing: -0.5px;
}

.text1 {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    margin-left: 20px; /* Отступ слева для размещения текста рядом с изображением */
    margin-right: 20px; /* Отступ слева для размещения текста рядом с изображением */
    color: #ccc;
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    word-spacing: -0.5px;
}

.normaltext {
    font-family: 'Tahoma', sans-serif;
    font-size: larger;
    color: #ccc;
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    word-spacing: -0.5px;
}

img {
    max-width: 100%; /* Чтобы изображение не выходило за пределы родительского контейнера */
    height: auto; /* Автоматическое подстраивание высоты */
    margin-bottom: 2%;
    margin-left: 2%;
    border-radius: 10px;
}

h1{
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    word-spacing: -0.5px;
    text-align: center; /* Выравниваем заголовок по центру */
    font-family: 'Oswald', sans-serif;
    color: #ccc;
}

h2 {
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    word-spacing: -0.5px;
    text-align: center; /* Выравниваем заголовок по центру */
    font-family: 'Oswald', sans-serif;
    color: #ccc;
}

.Welcome {
    position: relative; /* Сохраняем контекст позиционирования */
    width: 100vw; /* Полная ширина экрана */
    padding: 3px; /* Внутренний отступ для содержания */
    
    word-spacing: normal;
    white-space: normal;
    letter-spacing: normal;
    text-align: justify;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #222222;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1;
    filter: brightness(0.9);
    box-shadow: #fff;
}



.main {
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.9;
}


.contacts {
color: rgb(255, 255, 255);
text-align: center;
background-color: rgba(25, 25, 25, 0.3); /* Полупрозрачный фон */
padding-bottom: 2%;
font-family: 'Tahoma', sans-serif;
font-size:larger;

}



header { 
    position: relative; /* Сохраняем контекст позиционирования */
    width: 100vw; /* Полная ширина экрана */
    background-color:rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
    color: #ffffff; /* Непрозрачный белый текст */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
}



nav {
    background-color: rgba(251, 244, 255, 0.7); /* Прозрачный фон */
    padding: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}
section {
    padding: 20px;
}

footer {
    position: relative; /* Позиционирование для псевдоэлемента */
    padding: 10px;
    text-align: center;
    color: #ffffff; /* Непрозрачный белый текст */
    font-family: 'Tahoma', sans-serif;
    position: relative; /* Сохраняем контекст позиционирования */
    width: 100vw; /* Полная ширина экрана */
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 25, 25, 0.3); /* Полупрозрачный фон */
    z-index: -1; /* Чтобы фон был позади текста */
    font-family: 'Tahoma', sans-serif;
    position: relative; /* Сохраняем контекст позиционирования */
    width: 100vw; /* Полная ширина экрана */
     /*margin-left: calc(-4vw); Сдвигаем влево на величину отступа */
}



.card-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    color:rgb(54, 54, 54);
    flex-flow: row wrap;
    opacity: 0.9;
    justify-content: center;
    border-radius: 10px;
  }

  .texts {
    flex: 1;
    padding: 20px;
  }

  .card {
    display:grid;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0em;
    flex: 0 0 calc(33.33% - 20px);
    width: 300px;
    margin: 0.5pc;
  }


  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .card-content {
    font-size: 1rem;
    color: #555;
  }

  .card-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 0px;
  }


  .card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contacts {
  border-radius: 15px;
}


.karta{
  max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    height: auto; /* Автоматически рассчитывает высоту изображения, чтобы сохранить соотношение сторон */
}



#contacts {
    color: #ffffff; /* White text */
    padding: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative; /* Сохраняем контекст позиционирования */
    padding: 3px; /* Внутренний отступ для содержания */
}

#contacts h2, #contacts h3 {
    color: #ffffff; /* Keep the headings white */
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

#contacts p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Tahoma', sans-serif;
}

#contacts a {
    color: #ffffff; /* White for links */
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: rgba(168, 19, 254, 0.7); /* Полупрозрачный фон */
}

.social-media a:hover {
    color: #ff69b4; /* Lighter pink color on hover */
}